header {
  background-color: black;
  margin-bottom: 50px;
}

ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center; /* 中央寄せ */
  /* gap: 1%; */
}

li {
  padding: 20px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.logout {
  color: white;
  cursor: pointer;
}

a:hover,
.logout:hover {
  opacity: 0.9;
  background-color: #222222;
}