* {
  box-sizing: border-box;

}

body {
  background-color: #F5F4F9;
}

.form-title {
  text-align: center;
}

form  {
  margin: 0 auto;
  width: 50%;
  background-color: #FFFFFF;
  border: 2px solid #ECECEE;
  border-radius: 10px;
}

.form-wrapper {
  padding: 0 20px 20px 20px;
}

.form-row {
  margin-bottom: 20px;
}

form input, form button, form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ECECEE;
  border-radius: 5px;

}

form button {
  background-color: #25A745;
  color: #FFFFFF;
  cursor: pointer;
}

.form-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.error {
  color: red;
}

.top-container {
  text-align: center;
}
.top-container button {
  background-color: #047CFE;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-container {
  text-align: center;
}

.view-table {
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  max-width: 1100px;
  border-radius: 8px; /* 角を丸くする */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ドロップシャドウ */
}

.view-table th {
  background-color: #F8FAFB;
}
.view-table td {
  background-color: #FFFFFF;
}

.view-table th,
.view-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.view-container button {
  background-color: #047CFE;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.view-container .delete-button {
  background-color: #EC7063;
}

.view-button-under {
  margin-top: 20px;
  margin-bottom: 50px;
}

.create-container {
  text-align: center;
}

.delete-button {
  background-color: #EC7063;
}

button {
  border-radius: 8px; /* 角を丸くする */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ドロップシャドウ */
}
button:hover {
  opacity: 0.9;
}