* {
  box-sizing: border-box;

}

body {
  background-color: #F5F4F9;
}

.form-title {
  text-align: center;
}

form  {
  margin: 0 auto;
  width: 50%;
  background-color: #FFFFFF;
  border: 2px solid #ECECEE;
  border-radius: 10px;
}

.form-wrapper {
  padding: 0 20px 20px 20px;
}

.form-row {
  margin-bottom: 20px;
}

form input, form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ECECEE;
  border-radius: 5px;

}

form button {
  background-color: #25A745;
  color: #FFFFFF;
  cursor: pointer;
}

.form-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.error {
  color: red;
}

.top-container {
  text-align: center;
}
.top-container button {
  background-color: #047CFE;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-container {
  text-align: center;
}